body{
    margin:0; 
}
section{
    margin-bottom: 100px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 2.1rem;
    padding-left: 10px;
}
.border-left{
     border-left: 3px solid orangered;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.ornge-color{
    color:orange;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
}
.flexible-area{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 6%;
}
.half-width img{
    width: 430px;
    height: auto;
    margin-left: 50px;
    margin-top: -120px;
}
.link-button{
    background-color: #FF5959;
    padding: 15px 45px;
    border: none;
    font-size: 16px;
    color:white;
    border-radius: 5px;
}
.h1-middle{
    text-align: center;
    margin-bottom: 50px;
}
.flexible-area .one-hird-area{
    width: 30%;
    margin-left:20px;
    background-color: #EDF5F6;
    border-radius: 15px;
    padding:2%;
}
.flexible-area .one-hird-area img{
    width: 150px;
    height: auto;
}
#vission-bg{
    background-color: #FFEEEE;
}
#goals-bg{
    background-color: #FFF4D6;
}
.deve-wout-lmt{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 260px auto;

}
.wg-community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 200px auto;
}

.my-section{
    display: flex;
}
.my-section .left-column{
    width: 40%;
    margin-left: 5%;
}
.my-section .left-column ul li{
    list-style-type: none;
    float:left;
    margin-left: 10px;
}
.my-section .left-column ul li a{
    font-size: 20px;
    text-decoration: none;
}
.my-section .left-column ul li a:hover{
    font-size: 20px;
    text-decoration: overline;
    color: orangered;
}
.my-section .left-column img{
    width: 94%;
    height: auto;

}
.my-section .right-column{
    width: 60%;

}
footer{
    background-color: #0B0D17;
    padding: 10px;
}
footer h2{
    color: white;
    text-align: center;
}
.totato-color{
    color:tomato;
}
footer p{
    color: #CED0D6;
    text-align: center;
}